#box{ 
    height: 250px;
    background-color: rgb(44, 77, 77);
    font-size: 13em;
    text-align: center;
}   

img{
    animation-name: slideDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.56, 0.2, 0, 1.23);
}
div{
    font-size: 79px;
    font-style: italic;
}

@keyframes slideLeft{
    from{transform: translateX(300%)}
}
@keyframes slideRight{
    from{transform: translateX(300%)}
}
@keyframes slideUp{
    from{transform: translateX(300%)}
}
@keyframes slideDown{
    from{transform: translateY(300%)}
}
@keyframes rotate{
    50%{transform: rotateZ(360deg);}
}
@keyframes grow{
    100%{transform: scale (2,2)}
}
@keyframes shrink{
    40%{transform: scale(0.5, 0.5)}
}
@keyframes fadeIn{
    100%{opacity: 1}
}
@keyframes colorChange{
    0%{background-color: hsl(0, 100%, 62%);}
    20%{background-color: hsl(0, 5%, 34%);}
}