#box{ 
    height: 250px;
    background-color: rgb(44, 77, 77);
    font-size: 13em;
    text-align: center;
    animation-name: slideRight;
    animation-duration: 3s
}
@keyframes slideLeft{
    from{transform: translateX(300%)}
}
@keyframes slideRight{
    from{transform: translateX(300%)}
}
@keyframes slideLeft{
    from{transform: translateX(300%)}
}
@keyframes slideLeft{
    from{transform: translateY(300%)}
}